@use "fonts";
@use "mixins" as *;

:root {
  --bg-color-main: #fff;
  --text-color-main: #2e2e2e;
  --text-color-inverse: #fff;
  --color-primary: rgb(0, 136, 255);
  --color-border-light: #ebccd1;
  --color-border-gray: #aaa;
  --color-link: #334463;
  --color-link-active: rgb(61, 141, 61);
  --color-link-visited: #89a5d7;
  --color-row-stripe: hsla(231, 50%, 60%, 0.08);
  --color-danger: #a94442;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include dark-theme-vars;
  }
}

:root[data-theme="dark"] {
  @include dark-theme-vars;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0.75rem 1rem 0;
  overflow: hidden;
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
  font-family: fonts.$font-family-base;
  @include font-weight(medium);
}

#LinkList {
  height: 100%;
}
